
<!--/ Nav Star /-->
<nav class="navbar navbar-default navbar-trans navbar-expand-lg ">
  <div class="container">
      <!--<img src="./assets/img/logo.png">-->
      <a class="navbar-brand text-brand" routerLink="/home">TEC<span class="color-b">res</span></a>
      <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
          <ul class="navbar-nav">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Anuncios
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" routerLink="/advertising/approval">Aprobación de anuncios</a>
                      <a class="dropdown-item" routerLink="/advertising/assignement">Asignación de anuncios</a>
                      <a class="dropdown-item" routerLink="/advertising/type">Tipos de anuncios</a>
                      <a class="dropdown-item" routerLink="/advertising/statistics">Generacion de Estadisticas</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Gestiones
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" routerLink="/users/agents">Agentes vendedores</a>
                      <a class="dropdown-item" routerLink="/propertytype">Tipos de inmuebles</a>
                      <a class="dropdown-item" routerLink="/location">Ubicaciones</a>
                      <a class="dropdown-item" routerLink="/users/agents">Perfil de clientes</a>
                      <a class="dropdown-item" routerLink="/careers">Ocupaciones</a>
                      <a class="dropdown-item" routerLink="/users/admins">Administradores</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Reportes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/reports/sales">Ventas</a>
                    <a class="dropdown-item" routerLink="/reports/commisions">Comisiones</a>
                    <a class="dropdown-item" routerLink="/reports/advertisement">Anuncios</a>
                </div>
            </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/careers">Facturacion</a>
              </li>
          </ul>
      </div>
      <button type="button" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block" >Cerrar sesión</button>
  </div>
</nav>
<!--/ Nav End /-->