<!--
<nav class="navbar navbar-default" *ngIf="loggedIn()">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <img src="favicon.ico" class="logo">
      </a>
      <span class="navbar-brand">TECres</span>
    </div>
    <ul class="nav navbar-nav">
      <li><a (click)="Logout()">Logout</a></li>
      <li *ngIf="userService.roleMatch(['Admin'])">
        <a routerLink="/SiteAdmins">Site Admins</a>
      </li>
      <li *ngIf="userService.roleMatch(['Admin'])">
        <a routerLink="/SiteAdmins">Site Admins</a>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-default" *ngIf="!loggedIn()">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <img src="favicon.ico" class="logo">
      </a>
      <span class="navbar-brand">TECres</span>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/signin">Iniciar sesión</a></li>
    </ul>
  </div>
</nav>
-->

<!--/ Nav Star /-->
<nav class="navbar navbar-default navbar-trans navbar-expand-lg ">
    <div class="container">
        <!--<img src="./assets/img/logo.png">-->
        <a class="navbar-brand text-brand" routerLink="/home">TEC<span class="color-b">res</span></a>
        <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Anuncios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/users/agents">Aprobación de anuncios</a>
                        <a class="dropdown-item" routerLink="/users/admins">Asignación de anuncios</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gestiones
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/users/agents">Agentes vendedores</a>
                        <a class="dropdown-item" routerLink="/users/admins">Tipos de inmuebles</a>
                        <a class="dropdown-item" routerLink="/users/agents">Ubicaciones</a>
                        <a class="dropdown-item" routerLink="/users/admins">Tipos de anuncios</a>
                        <a class="dropdown-item" routerLink="/users/agents">Perfil de clientes</a>
                        <a class="dropdown-item" routerLink="/users/admins">Ocupaciones</a>
                        <a class="dropdown-item" routerLink="/users/agents">Administradores</a>
                        <a class="dropdown-item" routerLink="/users/clients"></a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/careers">Generacion de Estadisticas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/careers">Facturacion</a>
                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block" >Cerrar sesión</button>
    </div>
</nav>
<!--/ Nav End /-->