<nav class="navbar navbar-default navbar-trans navbar-expand-lg ">
  <div class="container">
    <a class="navbar-brand text-brand" routerLink="/home">TEC<span class="color-b">res</span></a>
    <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Anuncios
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/advertising/approval">Aprobación de anuncios</a>
            <a class="dropdown-item" routerLink="/advertising/assignement">Asignación de agentes</a>
          </div>-->
        </li>
      </ul>
    </div>
    <button type="button" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block" routerLink="/signin" >Iniciar sesión</button>
    <!-- Button trigger modal -->
    <button type="button" class="btn" data-toggle="modal" data-target="#agregarModal"> </button>
    <button type="button" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block" data-toggle="modal" data-target="#SearchModal" >Buscar propiedades</button>
  </div>
</nav>
<!--/ Nav End /-->
    
<!-- Modal LogIn -->
<div class="modal fade" id="LogInModal" tabindex="-1" role="dialog" aria-labelledby="LogInModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a class="navbar-brand text-brand" routerLink="/home">Log<span class="color-b">In</span></a>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="login-row" class="row justify-content-center align-items-center">
          <div id="login-column" class="col-md-6">
            <div id="login-box" class="col-md-12">
              <form id="login-form" class="form" action="" method="post">
                <div *ngIf="isLoginError">
                  incorrect username or password
                </div>
                <form #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(UserName.value, Password.value)">
                  <div class="form-group">
                    <label for="UserName" class="text-info">Nombre de Usuario</label><br>
                    <input type="text" #UserName ngModel name="UserName" class="form-control" required>
                    <div class="validation-error" *ngIf="UserName.invalid && UserName.touched">
                      this field is required
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="Password" class="text-info">Password</label><br>
                    <input type="password" #Password ngModel name="Password" class="form-control" required>
                    <!-- <label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required field':'Minimum 6 characters required'):''"></label>  -->
                    <div class="validation-error" *ngIf="Password.invalid && Password.touched">
                      this field is required
                    </div>
                  </div>
                </form>
                <div class="form-group">
                  <div class="table">
                    <div class="col-sm">
                      <input type="submit" name="submit" class="btn btn-info btn-md" (click) = "clickLogIn()" value="Entrar">
                    </div>
                    <div class="col-sm">

                    </div>
                    <div class="col-sm">
                      <a href="#" routerLink="/register" routerLinkActive="active" class="text-right">Registrarse</a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      
<!-- Modal Search -->
<div class="modal fade" id="SearchModal" tabindex="-1" role="dialog" aria-labelledby="SearchModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a class="navbar-brand text-brand" routerLink="/home">Sea<span class="color-b">rch</span></a>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="search-row" class="row justify-content-center align-items-center">
          <div id="search-column" class="col-md-6">
            <div id="search-box" class="col-md-12">
              <form id="search-form" class="form" action="" method="post">
                
                <div class="form-group">
                  <label for="location" class="text-info">Ubicacion:</label><br>
                  <input type="text" name="location" id="location" class="form-control" [(ngModel)]="locationInput">
                </div>
                <div class="form-group">
                  <label for="habitaciones" class="text-info">Habitaciones:</label><br>
                  <input type="number" name="habitaciones" id="habitaciones" class="form-control" [(ngModel)]="habitacionesInput">
                </div>
                <div class="form-group">
                  <label for="minPrecio" class="text-info">Precio Minimo:</label><br>
                  <input type="number" name="minPrecio" id="minPrecio" class="form-control" [(ngModel)]="minPrecioInput">
                </div>
                <div class="form-group">
                  <label for="maxPrecio" class="text-info">Precio Maximo:</label><br>
                  <input type="number" name="maxPrecio" id="maxPrecio" class="form-control" [(ngModel)]="maxPrecioInput">
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm">
                      <input type="submit" name="submit" class="btn btn-info btn-md" (click) = "clickSearch()" value="Entrar">
                    </div>
                    <div class="col-sm">

                    </div>
                    <div class="col-sm">
                      <a href="#" routerLink="/register" routerLinkActive="active" class="text-right">Registrarse</a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>