<div class="container" style="padding-top: 5%;">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <header class="card-header">
          <h4 class="card-title mt-2">Registrarse</h4>
        </header>
        <div class="form-group col-md-6">
          <label>Cómo desea registrarse: </label>
          <select id="inputState" class="form-control">
            <option (click)="showSellerForm()">Vendedor</option>
            <option (click)="showSalesAgentForm()">Agente de ventas</option>
            <option (click)="showCustomerForm()">Interesado en propiedades</option>
            <option (click)="showAdminForm()">Administrador</option>
          </select>
        </div> <!-- form-group end.// -->

        <!-- Form de agentes -->
        <div *ngIf="showSalesAgent">
          <article class="card-body">
            <form #AgentForm="ngForm" autocomplete="off" (submit)="onSubmit(AgentForm)">
              <div class="form-group">

                <div class="form-row">
                  <div class="col form-group">
                    <label>Nombre de usuario</label>
                    <input name="UserName" #UserName="ngModel" [(ngModel)]="agent.UserName" class="form-control"
                      required>
                    <div class="validation-error" *ngIf="UserName.invalid && UserName.touched">
                      this field is required
                    </div>
                  </div>
                  <div class="col form-group">
                    <label>Contraseña</label>
                    <input name="Password" type="password" #Password="ngModel" [(ngModel)]="agent.Password"
                      class="form-control" required minlength="6">
                    <!-- <label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required field':'Minimum 6 characters required'):''"></label> -->
                    <div class="validation-error" *ngIf="Password.invalid && Password.touched">
                      this field is required
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col form-group">
                    <label>Nombre</label>
                    <input name="Name" #Name="ngModel" [(ngModel)]="agent.Name" class="form-control" required>
                    <div class="validation-error" *ngIf="Name.invalid && Name.touched">
                      this field is required
                    </div>
                  </div>
                  <div class="col form-group">
                    <label>Apellidos</label>
                    <input name="LastNames" #LastNames="ngModel" [(ngModel)]="agent.LastNames" class="form-control"
                      required>
                    <div class="validation-error" *ngIf="LastNames.invalid && LastNames.touched">
                      this field is required
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col form-group">
                    <label>Cédula</label>
                    <input name="Id" #Id="ngModel" [(ngModel)]="agent.Id" class="form-control" required>
                    <div class="validation-error" *ngIf="Id.invalid && Id.touched">
                      this field is required
                    </div>
                  </div>
                  <div class="col form-group">
                    <label>Fecha de entrada</label>
                    <input name="EntryDate" #EntryDate="ngModel" [(ngModel)]="agent.EntryDate" class="form-control"
                      required>
                    <div class="validation-error" *ngIf="EntryDate.invalid && EntryDate.touched">
                      this field is required
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <button type="submit" [disabled]="AgentForm.invalid" class="btn btn-b-n btn-block">Registrarse</button>
              </div>


            </form>
          </article>
        </div>

        <!-- Form de administradores -->
        <div *ngIf="showAdmin">
          <article class="card-body">
            <!-- Form de administradores-->
            <form #AdminForm="ngForm" autocomplete="off" (submit)="onSubmit(AdminForm)">
              <div class="form-row">
                <div class="col form-group">
                  <label>Nombre de usuario</label>
                  <input name="UserName" #UserName="ngModel" [(ngModel)]="admin.UserName" class="form-control" required>
                  <div class="validation-error" *ngIf="UserName.invalid && UserName.touched">
                    this field is required
                  </div>
                </div> <!-- form-group end.// -->
                <div class="col form-group">
                  <label>Contraseña</label>
                  <input name="Password" type="password" #Password="ngModel" [(ngModel)]="admin.Password"
                    class="form-control" required minlength="6">
                  <!-- <label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required field':'Minimum 6 characters required'):''"></label>  -->
                  <div class="validation-error" *ngIf="Password.invalid && Password.touched">
                    this field is required
                  </div>
                </div> <!-- form-group end.// -->
              </div> <!-- form-row end.// -->

              <div class="form-row">
                <div class="col form-group">
                  <label>Nombre</label>
                  <input name="FirstName" #FirstName="ngModel" [(ngModel)]="admin.FirstName" class="form-control"
                    required>
                  <div class="validation-error" *ngIf="FirstName.invalid && FirstName.touched">this field is required
                  </div>
                </div>
                <div class="col form-group">
                  <label>Apellidos</label>
                  <input name="LastName" #LastName="ngModel" [(ngModel)]="admin.LastName" class="form-control" required>
                  <div class="validation-error" *ngIf="LastName.invalid && LastName.touched">
                    this field is required
                  </div>
                </div> <!-- form-group end.// -->
              </div> <!-- form-row end.// -->

              <div class="form-row">
                <div class="form-group col">
                  <label>Id</label>
                  <input name="Id" #Id="ngModel" [(ngModel)]="admin.Email" class="form-control" required>
                  <div class="validation-error" *ngIf="Id.invalid && Id.touched">
                    this field is required
                  </div>
                </div> <!-- form-group end.// -->
              </div>

              <div class="form-row">
                <div class="col form-group">
                  <label>Fecha de ingreso</label>
                  <input name="EntryDate" #EntryDate="ngModel" [(ngModel)]="admin.EntryDate" class="form-control"
                    required>
                  <div class="validation-error" *ngIf="EntryDate.invalid && EntryDate.touched">
                    this field is required
                  </div>
                </div>
                <div class="col form-group">
                  <label>Fecha de nacimiento</label>
                  <input name="BirthDate" #BirthDate="ngModel" [(ngModel)]="admin.BirthDate" class="form-control"
                    required>
                  <div class="validation-error" *ngIf="BirthDate.invalid && BirthDate.touched">
                    this field is required
                  </div>
                </div> <!-- form-group end.// -->
              </div> <!-- form-row end.// -->

              <div class="form-group">
                <button type="submit" class="btn btn-b-n btn-block"> Register </button>
              </div> <!-- form-group// -->

            </form>
          </article>
        </div>

        <!-- Form de vendedores -->
        <div *ngIf="showSeller">
          <article class="card-body">
            <form #ClientForm="ngForm" autocomplete="off" (submit)="onSubmit(ClientForm)">
              <div class="form-group">
                <div class="form-row">
                  <div class="col form-group">
                    <label>Nombre de usuario</label>
                    <input name="UserName" #UserName="ngModel" [(ngModel)]="client.UserName" class="form-control"
                      required>
                    <div class="validation-error" *ngIf="UserName.invalid && UserName.touched">
                      this field is required
                    </div>
                  </div>
                  <div class="col form-group">
                    <label>Contraseña</label>
                    <input name="Password" type="password" #Password="ngModel" [(ngModel)]="client.Password"
                      class="form-control" required minlength="6">
                    <!-- <label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required field':'Minimum 6 characters required'):''"></label> -->
                    <div class="validation-error" *ngIf="Password.invalid && Password.touched">
                      this field is required
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col form-group">
                    <label>Nombre</label>
                    <input name="FirstName" #FirstName="ngModel" [(ngModel)]="client.FirstName" class="form-control"
                      required>
                    <div class="validation-error" *ngIf="FirstName.invalid && FirstName.touched">
                      this field is required
                    </div>
                  </div>
                  <div class="col form-group">
                    <label>Apellidos</label>
                    <input name="LastName" #LastName="ngModel" [(ngModel)]="client.LastNames" class="form-control"
                      required>
                    <div class="validation-error" *ngIf="LastName.invalid && LastName.touched">
                      this field is required
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Ocupación</label>
                    <select id="inputState" class="form-control">
                      <option> Choose...</option>
                      <option>Uzbekistan</option>
                      <option>Russia</option>
                      <option selected="">United States</option>
                      <option>India</option>
                      <option>Afganistan</option>
                    </select>
                  </div> <!-- form-group end.// -->

                  <div class="form-group col-md-6">
                    <label>Nacionalidad</label>
                    <select id="inputState" class="form-control">
                      <option> Choose...</option>
                      <option>Uzbekistan</option>
                      <option>Russia</option>
                      <option selected="">United States</option>
                      <option>India</option>
                      <option>Afganistan</option>
                    </select>
                  </div> <!-- form-group end.// -->
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input name="Email" #Email="ngModel" [(ngModel)]="client.Email" class="form-control" required
                    [pattern]="emailPattern">
                  <div class="validation-error" *ngIf="Email.invalid && Email.touched">
                    this field is required
                  </div>
                </div>
                <div class="form-group">
                  <label>Cédula</label>
                  <input name="Id" #Id="ngModel" [(ngModel)]="client.Id" class="form-control" required>
                  <div class="validation-error" *ngIf="Id.invalid && Id.touched">
                    this field is required
                  </div>
                </div>
              </div>

              <div class="form-group">
                <button type="submit" [disabled]="ClientForm.invalid" class="btn btn-b-n btn-block">Registrarse</button>
              </div>

            </form>
          </article>
        </div>

        <!-- Form de interesados -->
        <div *ngIf="showCustomer">
          <article class="card-body">
            <form #CustomerForm="ngForm" autocomplete="off" (submit)="onSubmit(CustomerForm)">
              <div class="form-group">
                <div class="form-row">
                  <div class="col form-group">
                    <label>Nombre de usuario</label>
                    <input name="UserName" #UserName="ngModel" [(ngModel)]="customer.UserName" class="form-control"
                      required>
                    <div class="validation-error" *ngIf="UserName.invalid && UserName.touched">
                      this field is required
                    </div>
                  </div>
                  <div class="col form-group">
                    <label>Contraseña</label>
                    <input name="Password" type="password" #Password="ngModel" [(ngModel)]="customer.Password"
                      class="form-control" required minlength="6">
                    <!-- <label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required field':'Minimum 6 characters required'):''"></label> -->
                    <div class="validation-error" *ngIf="Password.invalid && Password.touched">
                      this field is required
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col form-group">
                    <label>Nombre</label>
                    <input name="Name" #Name="ngModel" [(ngModel)]="customer.Name" class="form-control" required>
                    <div class="validation-error" *ngIf="Name.invalid && Name.touched">
                      this field is required
                    </div>
                  </div>
                  <div class="col form-group">
                    <label>Apellidos</label>
                    <input name="LastNames" #LastNames="ngModel" [(ngModel)]="customer.LastNames" class="form-control"
                      required>
                    <div class="validation-error" *ngIf="LastNames.invalid && LastNames.touched">
                      this field is required
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col form-group">
                    <label>Dirección</label>
                    <input name="Adress" #Adress="ngModel" [(ngModel)]="customer.Adress" class="form-control" required>
                    <div class="validation-error" *ngIf="Adress.invalid && Adress.touched">
                      this field is required
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col form-group">
                    <label>Fecha de nacimiento</label>
                    <input name="BirthDate" #BirthDate="ngModel" [(ngModel)]="customer.BirthDate" class="form-control"
                      required>
                    <div class="validation-error" *ngIf="BirthDate.invalid && BirthDate.touched">
                      this field is required
                    </div>
                  </div>
                  <div class="col form-group">
                    <label>Ingreso</label>
                    <input name="Income" #Income="ngModel" [(ngModel)]="customer.Income" class="form-control" required>
                    <div class="validation-error" *ngIf="Income.invalid && Income.touched">
                      this field is required
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col">
                    <label>Ocupación</label>
                    <select id="inputState" class="form-control">
                      <option> Choose...</option>
                      <option>Uzbekistan</option>
                      <option>Russia</option>
                      <option selected="">United States</option>
                      <option>India</option>
                      <option>Afganistan</option>
                    </select>
                  </div> <!-- form-group end.// -->
                </div>

              </div>

              <div class="form-group">
                <button type="submit" [disabled]="CustomerForm.invalid"
                  class="btn btn-b-n btn-block">Registrarse</button>
              </div>

            </form>
          </article>
        </div>


        <div class="border-top card-body text-center">¿Ya está registrado? <a routerLink="/signin">Iniciar sesión</a>
        </div>

      </div> <!-- card.// -->
    </div> <!-- col.//-->
  </div> <!-- row.//-->
</div>
