<div class="container">
  <div class="row">
    <div class="col-md-5">
      <label>Seleccione el rol con el que desea registrarse</label>
    </div>
    <div class="col-md-7">
      <li class="dropdown" dropdown style="list-style-type:none">
        <!-- {1} -->
        <a dropdownToggle role="button">Roles <span class="caret"></span></a>
        <ul *dropdownMenu class="dropdown-menu">
          <!-- {3} -->
          <li><a (click)="showSellerForm()">Vendedor particular</a></li>
          <li><a (click)="showSalesAgentForm()">Agente de ventas</a></li>
          <li><a (click)="showCustomerForm()">Interesado en comprar</a></li>
          <li><a (click)="showAdminForm()">Administrador</a></li>
        </ul>
      </li>
    </div>
  </div>
  <!-- Form de vendedores -->
  <div *ngIf="showSeller">
    <form #ClientForm="ngForm" autocomplete="off" (submit)="onSubmit(ClientForm)">
      <div class="form-group">
        <div class="row">
          <div class="col-md-5">
            <label>Nombre de usuario</label>
            <input name="UserName" #UserName="ngModel" [(ngModel)]="client.UserName" class="form-control" required>
            <div class="validation-error" *ngIf="UserName.invalid && UserName.touched">
              this field is required
            </div>
          </div>
          <div class="col-md-5">
            <label>Contraseña</label>
            <input name="Password" type="password" #Password="ngModel" [(ngModel)]="client.Password"
              class="form-control" required minlength="6">
            <!-- <label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required field':'Minimum 6 characters required'):''"></label> -->
            <div class="validation-error" *ngIf="Password.invalid && Password.touched">
              this field is required
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <label>Nombre</label>
            <input name="FirstName" #FirstName="ngModel" [(ngModel)]="client.FirstName" class="form-control" required>
            <div class="validation-error" *ngIf="FirstName.invalid && FirstName.touched">
              this field is required
            </div>
          </div>
          <div class="col-md-5">
            <label>Apellidos</label>
            <input name="LastName" #LastName="ngModel" [(ngModel)]="client.LastNames" class="form-control" required>
            <div class="validation-error" *ngIf="LastName.invalid && LastName.touched">
              this field is required
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <label>Cédula</label>
            <input name="Id" #Id="ngModel" [(ngModel)]="client.Id" class="form-control" required>
            <div class="validation-error" *ngIf="Id.invalid && Id.touched">
              this field is required
            </div>
          </div>
          <div class="col-md-5">
            <label>Nacionalidad</label>
            <input name="Nationality" #Nationality="ngModel" [(ngModel)]="client.Nationality" class="form-control"
              required>
            <div class="validation-error" *ngIf="Nationality.invalid && Nationality.touched">
              this field is required
            </div>
          </div>
        </div>
        <div class="row">
          <label>Email</label>
          <input name="Email" #Email="ngModel" [(ngModel)]="client.Email" class="form-control" required
            [pattern]="emailPattern">
          <div class="validation-error" *ngIf="Email.invalid && Email.touched">
            this field is required
          </div>
        </div>
        <div class="row">
          <label>Ocupación</label>
          <input name="Ocupation" #Ocupation="ngModel" [(ngModel)]="client.Ocupation" class="form-control" required>
          <div class="validation-error" *ngIf="Ocupation.invalid && Ocupation.touched">
            this field is required
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <button type="submit" [disabled]="ClientForm.invalid" class="btn btn-lg btn-block">Registrarse</button>
        </div>
      </div>
    </form>
  </div>
  <!-- Form de interesados -->
  <div *ngIf="showCustomer">
    <form #CustomerForm="ngForm" autocomplete="off" (submit)="onSubmit(CustomerForm)">
      <div class="form-group">
        <div class="row">
          <div class="col-md-5">
            <label>Nombre de usuario</label>
            <input name="UserName" #UserName="ngModel" [(ngModel)]="customer.UserName" class="form-control" required>
            <div class="validation-error" *ngIf="UserName.invalid && UserName.touched">
              this field is required
            </div>
          </div>
          <div class="col-md-5">
            <label>Contraseña</label>
            <input name="Password" type="password" #Password="ngModel" [(ngModel)]="customer.Password"
              class="form-control" required minlength="6">
            <!-- <label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required field':'Minimum 6 characters required'):''"></label> -->
            <div class="validation-error" *ngIf="Password.invalid && Password.touched">
              this field is required
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <label>Nombre</label>
            <input name="Name" #Name="ngModel" [(ngModel)]="customer.Name" class="form-control" required>
            <div class="validation-error" *ngIf="Name.invalid && Name.touched">
              this field is required
            </div>
          </div>
          <div class="col-md-5">
            <label>Apellidos</label>
            <input name="LastNames" #LastNames="ngModel" [(ngModel)]="customer.LastNames" class="form-control" required>
            <div class="validation-error" *ngIf="LastNames.invalid && LastNames.touched">
              this field is required
            </div>
          </div>
        </div>
        <div class="row">
          <label>Dirección</label>
          <input name="Adress" #Adress="ngModel" [(ngModel)]="customer.Adress" class="form-control" required>
          <div class="validation-error" *ngIf="Adress.invalid && Adress.touched">
            this field is required
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <label>Fecha de nacimiento</label>
            <input name="BirthDate" #BirthDate="ngModel" [(ngModel)]="customer.BirthDate" class="form-control" required>
            <div class="validation-error" *ngIf="BirthDate.invalid && BirthDate.touched">
              this field is required
            </div>
          </div>
          <div class="col-md-5">
            <label>Ingreso</label>
            <input name="Income" #Income="ngModel" [(ngModel)]="customer.Income" class="form-control" required>
            <div class="validation-error" *ngIf="Income.invalid && Income.touched">
              this field is required
            </div>
          </div>
          <div class="col-md-5">
            <label>Ocupación</label>
            <input name="Ocupation" #Ocupation="ngModel" [(ngModel)]="customer.Ocupation" class="form-control" required>
            <div class="validation-error" *ngIf="Ocupation.invalid && Ocupation.touched">
              this field is required
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <button type="submit" [disabled]="CustomerForm.invalid" class="btn btn-lg btn-block">Registrarse</button>
        </div>
      </div>
    </form>
  </div>
  <!-- Form de agentes -->
  <div *ngIf="showSalesAgent">
    <form #AgentForm="ngForm" autocomplete="off" (submit)="onSubmit(AgentForm)">
      <div class="form-group">
        <div class="row">
          <div class="col-md-5">
            <label>Nombre de usuario</label>
            <input name="UserName" #UserName="ngModel" [(ngModel)]="agent.UserName" class="form-control" required>
            <div class="validation-error" *ngIf="UserName.invalid && UserName.touched">
              this field is required
            </div>
          </div>
          <div class="col-md-5">
            <label>Contraseña</label>
            <input name="Password" type="password" #Password="ngModel" [(ngModel)]="agent.Password" class="form-control"
              required minlength="6">
            <!-- <label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required field':'Minimum 6 characters required'):''"></label> -->
            <div class="validation-error" *ngIf="Password.invalid && Password.touched">
              this field is required
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <label>Nombre</label>
            <input name="Name" #Name="ngModel" [(ngModel)]="agent.Name" class="form-control" required>
            <div class="validation-error" *ngIf="Name.invalid && Name.touched">
              this field is required
            </div>
          </div>
          <div class="col-md-5">
            <label>Apellidos</label>
            <input name="LastNames" #LastNames="ngModel" [(ngModel)]="agent.LastNames" class="form-control" required>
            <div class="validation-error" *ngIf="LastNames.invalid && LastNames.touched">
              this field is required
            </div>
          </div>
        </div>
        <div class="row">
          <label>Cédula</label>
          <input name="Id" #Id="ngModel" [(ngModel)]="agent.Id" class="form-control" required>
          <div class="validation-error" *ngIf="Id.invalid && Id.touched">
            this field is required
          </div>
          <div class="col-md-5">
            <label>Fecha de entrada</label>
            <input name="EntryDate" #EntryDate="ngModel" [(ngModel)]="agent.EntryDate" class="form-control" required>
            <div class="validation-error" *ngIf="EntryDate.invalid && EntryDate.touched">
              this field is required
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <button type="submit" [disabled]="AgentForm.invalid" class="btn btn-lg btn-block">Registrarse</button>
        </div>
      </div>
    </form>
  </div>
  <!-- Form de administradores-->
  <div *ngIf="showAdmin">
    <form #AdminForm="ngForm" autocomplete="off" (submit)="onSubmit(AdminForm)">
      <div class="form-group">
        <div class="row">
          <div class="col-md-5">
            <label>Nombre de usuario</label>
            <input name="UserName" #UserName="ngModel" [(ngModel)]="admin.UserName" class="form-control" required>
            <div class="validation-error" *ngIf="UserName.invalid && UserName.touched">
              this field is required
            </div>
          </div>
          <div class="col-md-5">
            <label>Contraseña</label>
            <input name="Password" type="password" #Password="ngModel" [(ngModel)]="admin.Password" class="form-control"
              required minlength="6">
            <!-- <label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required field':'Minimum 6 characters required'):''"></label>  -->
            <div class="validation-error" *ngIf="Password.invalid && Password.touched">
              this field is required
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <label>Nombre</label>
            <input name="FirstName" #FirstName="ngModel" [(ngModel)]="admin.FirstName" class="form-control" required>
            <div class="validation-error" *ngIf="FirstName.invalid && FirstName.touched">
              this field is required
            </div>
          </div>
          <div class="col-md-5">
            <label>Apellidos</label>
            <input name="LastName" #LastName="ngModel" [(ngModel)]="admin.LastName" class="form-control" required>
            <div class="validation-error" *ngIf="LastName.invalid && LastName.touched">
              this field is required
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <label>Id</label>
        <input name="Id" #Id="ngModel" [(ngModel)]="admin.Email" class="form-control" required>
        <div class="validation-error" *ngIf="Id.invalid && Id.touched">
          this field is required
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <label>Fecha de ingreso</label>
          <input name="EntryDate" #EntryDate="ngModel" [(ngModel)]="admin.EntryDate" class="form-control" required>
          <div class="validation-error" *ngIf="EntryDate.invalid && EntryDate.touched">
            this field is required
          </div>
        </div>
        <div class="col-md-5">
          <label>Fecha de nacimiento</label>
          <input name="BirthDate" #BirthDate="ngModel" [(ngModel)]="admin.BirthDate" class="form-control" required>
          <div class="validation-error" *ngIf="BirthDate.invalid && BirthDate.touched">
            this field is required
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <button type="submit" [disabled]="AdminForm.invalid" class="btn btn-lg btn-block">Registrarse</button>
        </div>
      </div>
    </form>
  </div>

</div>