<app-admin-navigation></app-admin-navigation>
<section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Gestión de Propiedades</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <form class="form-horizontal">
          <fieldset>
            
             <!-- Text input-->
             <div class="form-group">
                <label class="col-md-4 control-label" for="Mother">Titulo de la Propiedad</label>  
                <div class="col-md-4">
                  <div class="input-group">
                    <input id="titlepro" name="titlepro" type="text" placeholder="Titulo de la propiedad" class="form-control input-md">
                  </div>
                </div>
              </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="Tipo">Tipo de Inmueble</label>  
              <div class="col-md-4">
                <select class="form-control">
                  <option *ngFor="let Estate of service.estatelist" [value]="Estate.Id">
                    {{Estate.TipoPropiedad}}
                  </option>
                </select>
              </div>
            </div>
            
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="Mother">Metros cuadrados del terreno</label>  
              <div class="col-md-4">
                <div class="input-group">
                  <input id="m2t" name="m2t" type="text" placeholder="metros cuadrados" class="form-control input-md">
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-md-4 control-label" for="Mother">Metros cuadrados del construcción</label>  
              <div class="col-md-4">
                <div class="input-group">
                  <input id="m2c" name="m2c" type="text" placeholder="metros cuadrados" class="form-control input-md">
                </div>
              </div>
            </div>        

            <div class="form-group">
              <label class="col-md-4 control-label col-xs-12" for="Direccion">Localización</label>
              
              <!-- Lista de Provincias-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="Prov">Provincia</label>  
                <div class="col-md-4">
                  <select class="form-control">
                      <option *ngFor="let Provincia of serviceLocation.provinciaList" (click)="loadCantones(Provincia)">{{Provincia}}
                      </option>
                    </select>
                </div>
              </div>

              <!--Lista de Cantones-->            
              <div class="form-group">
                <label class="col-md-4 control-label" for="Cant">Canton</label>  
                <div class="col-md-4">
                  <select class="form-control">
                    <option *ngFor="let Canton of serviceLocation.cantonList" (click)="loadDistritos(Canton)">{{Canton}}
                    </option>
                  </select>
                </div>
              </div>
              
              <!-- Lista de Distritos-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="Dist">Distrito</label>
                <div class="col-md-4">
                  <select class="form-control">
                    <option *ngFor="let Distrito of serviceLocation.distritoList" (click)="selectDistrito(Distrito)">{{Distrito}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="Habitaciones">Habitaciones</label>  
              <div class="col-md-4">
                <div class="input-group">
                  <input id="Habitaciones" name="Habitaciones" type="number" placeholder="Habitaciones" class="form-control input-md">
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-md-4 control-label" for="Banos">Baños</label>  
              <div class="col-md-4">
                <div class="input-group">
                  <input id="Banos" name="Banos" type="number" placeholder="Baños" class="form-control input-md">
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-md-4 control-label" for="Parqueos">Parqueos</label>
              <div class="col-md-4">
                <div class="input-group">
                  <input id="Parqueos" name="Parqueos" type="number" placeholder="Parqueos" class="form-control input-md">
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-md-4 control-label" for="Niveles">Niveles</label>
              <div class="col-md-4">
                <div class="input-group">
                  <input id="Niveles" name="Niveles" type="number" placeholder="Niveles" class="form-control input-md">
                </div>
              </div>
            </div>
            
            <!-- Multiple Checkboxes -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="Languages Known">Gimnasio</label>
              <div class="col-md-4">
                <div class="checkbox">
                  <label for="Languages Known-0">
                    <input type="checkbox" name="Languages Known" id="Languages Known-0" value="1">
                  </label>
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-md-4 control-label" for="Languages Known">Piscina</label>
              <div class="col-md-4">
                <div class="checkbox">
                  <label for="Languages Known-0">
                    <input type="checkbox" name="Languages Known" id="Languages Known-0" value="1">
                  </label>
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-md-4 control-label" for="Languages Known">Parqueo para Visitas</label>
              <div class="col-md-4">
                <div class="checkbox">
                  <label for="Languages Known-0">
                    <input type="checkbox" name="Languages Known" id="Languages Known-0" value="1">
                  </label>
                </div>
              </div>
            </div>

            <!--Tipos de Piso-->
            <div class="form-group">
              <label class="col-md-47 control-label" for="TipoPiso">Tipo de Piso</label>
              <div class="col-md-4">
                <select class="form-control">
                  <option *ngFor="let Floor of serviceFloor.floorList" >
                    {{Floor.Piso}}
                  </option>
                </select>
              </div>
            </div>
                       
            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="Overview (max 200 words)">Descripción</label>
              <div class="col-md-4">
                <textarea class="form-control" rows="10"  id="Descripcion" name="Descripcion">Descripción</textarea>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-md-4 control-label" for="Titulo">Imagen 1</label>
              <div class="col-md-4">
                <input id="Img1" name="Img1" class="input-file" type="file">
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-md-4 control-label" for="Titulo">Imagen 2</label>
              <div class="col-md-4">
                <input id="Img2" name="Img2" class="input-file" type="file">
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-md-4 control-label" for="Titulo">Imagen 3</label>
              <div class="col-md-4">
                <input id="Img3" name="Img3" class="input-file" type="file">
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-md-4 control-label" for="Precio">Precio (₡)</label>
              <div class="col-md-4">
                <div class="input-group">
                  <input id="Precio" name="Precio" type="text" placeholder="Precio" class="form-control">
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-md-4 control-label" ></label>
              <div class="col-md-4">
                <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-thumbs-up"></span> Crear</a>
              </div>
            </div>
          
          </fieldset>
        
        </form>
      </div>
    </div>
  </div>