<app-general-navigation></app-general-navigation>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <label>Seleccione el rol con el que desea registrarse</label>
    </div>
    <div class="col-md-4">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Tipo de Perfil
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a (click)="showAdminForm()">Administrador</a></li>
          <li><a (click)="showCustomerForm()">Comprador</a></li>
          <li role="separator" class="divider"></li>
          <li><a *ngFor="let Profile of serviceProfile.profileList" (click)="showClientForm(Profile.Nombre)">{{Profile.Nombre}}</a></li>    
        </ul>
      </div>
    </div>
  </div>
  <br><br>
  <!-- Form de Comprador-->
  <div *ngIf="showCustomer">
    <div class="container">
      <h3> Registrar Comprador <span class="label label-warning">Nuevo</span></h3>
      <br><br>
      <div id="signup-row" class="row justify-content-center align-items-center">
        <div id="signup-column" class="col-md-6">
          <div id="signup-box" class="col-md-12">
            <form id="signup-form" class="form" action="" method="post">
              <div class="row">
                <div class="col-md-12" >
                  <label for="name" class="text-info">Nombre</label><br>
                  <input type="text" name="name" id="name" class="form-control" ng-required="true">                 
                </div>
                <div class="col-md-12">
                  <label for="Plastname" class="text-info">Primer apellido</label><br>
                  <input type="text" name="Plastname" id="Plastname" class="form-control" ng-required="true">  
                </div>
                <div class="col-md-12">
                  <label for="Slastname" class="text-info">Segundo apellido</label><br>
                  <input type="text" name="Slastname" id="Slastname" class="form-control" ng-required="true">  
                </div>
              </div>
              <div class="form-group">
                <label for="gender" class="text-info">Género:</label><br>
                <div class="form-group ">
                  <select id="inputState" name="gender" class="form-control" ng-required="true">
                    <option selected>Masculino</option>
                    <option>Femenino</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="fechaNacimiento" class="text-info">Fecha de Nacimiento:</label><br>
                <input class="form-control" type="date" value="2001-08-19" min="1954-01-01" max="2001-12-31" id="born-date-input" ng-required="true">
              </div>                    
              <div class="form-group">
                <label for="province" class="text-info">Provincia:</label><br>
                <div class="form-group ">
                  <select ng-required="true">
                    <option *ngFor="let Provincia of serviceLocation.provinciaList" (click)="loadCantones(Provincia)">{{Provincia}}
                    </option>
                  </select>      
                </div>
              </div>
              <div class="form-group">
                <label for="canton" class="text-info">Canton:</label><br>
                <div class="form-group ">
                  <select ng-required="true">
                    <option *ngFor="let Canton of serviceLocation.cantonList" (click)="loadDistritos(Canton)">{{Canton}}  
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="distrito" class="text-info">Distrito:</label><br>
                <div class="form-group ">
                  <select ng-required="true">
                    <option *ngFor="let Distrito of serviceLocation.distritoList" (click)="selectDistrito(Distrito)">{{Distrito}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="ocupacion" class="text-info">Ocupacion:</label><br>
                <div class="form-group ">
                  <select ng-required="true">
                    <option *ngFor="let Ocupacion of serviceOccupation.occupationList" (click)="selectOccupation(Ocupacion.Id)">{{Ocupacion.Nombre}}
                      
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="lastname" class="text-info">Email:</label><br>
                <input ng-required="true" type="text" id="email" name="email" class="form-control" type="email">
              </div>
              <div class="form-group">
                <label for="username" class="text-info">Nombre de Usuario:</label><br>
                <input type="text" name="username" id="username" class="form-control" >
              </div>
              <div class="form-group">
                <label for="username" class="text-info">Contraseña:</label><br>
                <input type="password"name="password" class="form-control" id="exampleInputPassword1" >
              </div>
              <div class="form-group">
                <input type="submit" name="submit" class="btn btn-info btn-md" value="Registrarse" (click) = "addCustomer()">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Form de ADMIN-->
  <div *ngIf="showAdmin">
    <div class="container">
      <h3> Registrar Administrador <span class="label label-warning">Nuevo</span></h3>
      <br><br>
      <div id="signup-row" class="row justify-content-center align-items-center">
        <div id="signup-column" class="col-md-6">
          <div id="signup-box" class="col-md-12">
            <form id="signup-form" class="form" action="" method="post">
              <div class="row">
                <div class="col-md-12" >
                  <label for="name" class="text-info">Nombre</label><br>
                  <input type="text" name="name" id="name" class="form-control" ng-required="true">                 
                </div>
                <div class="col-md-12">
                  <label for="Plastname" class="text-info">Primer apellido</label><br>
                  <input type="text" name="Plastname" id="Plastname" class="form-control" ng-required="true">  
                </div>
                <div class="col-md-12">
                  <label for="Slastname" class="text-info">Segundo apellido</label><br>
                  <input type="text" name="Slastname" id="Slastname" class="form-control" ng-required="true">  
                </div>
                <div class="col-md-12">
                  <label for="ced" class="text-info">Cédula</label><br>
                  <input type="number" name="ced" id="Slastname" class="form-control" ng-required="true" pattern = "[1-9]{1}[0-9]{10}">  
                </div>
              </div>
              <div class="form-group">
                <label for="lastname" class="text-info">Email:</label><br>
                <input ng-required="true" type="text" id="email" name="email" class="form-control" type="email">
              </div>
              <div class="form-group">
                <label for="username" class="text-info">Nombre de Usuario:</label><br>
                <input type="text" name="username" id="username" class="form-control" >
              </div>
              <div class="form-group">
                <label for="username" class="text-info">Contraseña:</label><br>
                <input type="password"name="password" class="form-control" id="exampleInputPassword1" >
              </div>
              <div class="form-group">
                <input type="submit" name="submit" class="btn btn-info btn-md" value="Registrarse" (click) = "addCustomer()">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Form de Cliente-->
  <div *ngIf="showClient">
    <div class="container">
      <h3> Registrar Administrador <span class="label label-warning">Nuevo</span></h3>
      <br><br>
      <div id="signup-row" class="row justify-content-center align-items-center">
        <div id="signup-column" class="col-md-6">
          <div id="signup-box" class="col-md-12">
            <form id="signup-form" class="form" action="" method="post">
              <div class="row">
                <div class="col-md-12" >
                  <label for="name" class="text-info">Nombre</label><br>
                  <input type="text" name="name" id="name" class="form-control" ng-required="true">                 
                </div>
                <div class="col-md-12">
                  <label for="Plastname" class="text-info">Primer apellido</label><br>
                  <input type="text" name="Plastname" id="Plastname" class="form-control" ng-required="true">  
                </div>
                <div class="col-md-12">
                  <label for="Slastname" class="text-info">Segundo apellido</label><br>
                  <input type="text" name="Slastname" id="Slastname" class="form-control" ng-required="true">  
                </div>
                <div class="col-md-12">
                  <label for="ced" class="text-info">Cédula</label><br>
                  <input type="number" name="ced" id="Slastname" class="form-control" ng-required="true" pattern = "[1-9]{1}[0-9]{10}">  
                </div>
                <div class="form-group">
                  <label for="nacionalidad" class="text-info">Nacionalidad:</label><br>
                  <div class="form-group ">
                    <select ng-required="true">
                      <option *ngFor="let Nacionalidad of serviceNationality.nationalityList" >{{Nacionalidad.Nacionalidad}}

                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="lastname" class="text-info">Email:</label><br>
                <input ng-required="true" type="text" id="email" name="email" class="form-control" type="email">
              </div>                            
              <div class="form-group">
                <label for="username" class="text-info">Nombre de Usuario:</label><br>
                <input type="text" name="username" id="username" class="form-control" >
              </div>                            
              <div class="form-group">
                <label for="username" class="text-info">Contraseña:</label><br>
                <input type="password"name="password" class="form-control" id="exampleInputPassword1" >
              </div>
              <div class="form-group">
                <input type="submit" name="submit" class="btn btn-info btn-md" value="Registrarse" (click) = "addCustomer()">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>    
</div>