<app-admin-navigation></app-admin-navigation>
<section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Gestión de Propiedades</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  
<!--Lista de Inmuebles-->
<h1>Inmuebles 
    <button type="button" class="btn btn-success" aria-label="Left Align" data-toggle="modal" data-target="#EstateInModal">
        Agregar<span class="glyphicon glyphicon-pencil" ></span>
    </button>
</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tipo Propiedad</th>
            <th>Actions</th>
        </tr>   
    </thead>
    <tbody>
   
        <tr *ngFor="let Estate of serviceEstate.estatelist">
            <td>{{Estate.TipoPropiedad}}</td>
            <td>
                <div *ngIf=!Estate.Predeterminado  class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default">Editar</button>
                    <button  type="button" class="btn btn-danger">Eliminar
                        <span class="glyphicon glyphicon-trash" hidden="false"></span>
                    </button>
                </div>
            </td>
        </tr>      
    </tbody>
</table>

    <!-- Modal Estate -->
    <div class="modal fade" id="EstateInModal" tabindex="-1" role="dialog" aria-labelledby="EstateModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="navbar-brand text-brand" routerLink="/home">Log<span class="color-b">In</span></a>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="estate-row" class="row justify-content-center align-items-center">
                        <div id="estate-column" class="col-md-6">
                            <div id="estate-box" class="col-md-12">
                                <form id="estate-form" class="form" action="" method="post">
                                    <form #form="ngForm" autocomplete="off" >
                                        <div class="form-group">
                                            <label for="Inmueble" class="text-info">Tipo de Inmueble</label><br>
                                            <input type="text"  name="Inmueble" class="form-control" required>
                                
                                        </div>
                                    </form>
                                    <div class="form-group">
                                        <div class="table">
                                            <div class="col-sm">
                                                <input type="submit" name="submit" class="btn btn-info btn-md" >
                                            </div>
                                            <div class="col-sm">
                          
                                            </div>
                                            <div class="col-sm">
                                                <a href="#" routerLink="/estates" routerLinkActive="active" class="text-right">Cancelar</a>
                                            </div>
                                        </div>
                                    </div>
                            
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

