<nav class="navbar navbar-default" *ngIf="loggedIn()">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <img src="favicon.ico" class="logo">
      </a>
      <span class="navbar-brand">TECres</span>
    </div>
    <ul class="nav navbar-nav">
      <li><a (click)="Logout()">Logout</a></li>
      <li *ngIf="userService.roleMatch(['Admin'])">
        <a routerLink="/SiteAdmins">Site Admins</a>
      </li>
      <li *ngIf="userService.roleMatch(['Admin'])">
        <a routerLink="/SiteAdmins">Site Admins</a>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-default" *ngIf="!loggedIn()">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <img src="favicon.ico" class="logo">
      </a>
      <span class="navbar-brand">TECres</span>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/signin">Iniciar sesión</a></li>
    </ul>
  </div>
</nav>
