<form #form="ngForm" autocomplete="off" (submit)="onSubmit(UserName.value, Password.value)">
  <div class="form-group">
    <div class="row">
      <div class="col-md-5">
        <label>User name</label>
        <input name="UserName" #UserName="ngModel" [(ngModel)]="user.UserName" class="form-control" required>
        <div class="validation-error" *ngIf="UserName.invalid && UserName.touched">
          this field is required
        </div>
      </div>
      <div class="col-md-5">
        <label>Password</label>
        <input name="Password" type="password" #Password="ngModel" [(ngModel)]="user.Password" class="form-control"
          required minlength="6">
        <!-- <label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required field':'Minimum 6 characters required'):''"></label>  -->
        <div class="validation-error" *ngIf="Password.invalid && Password.touched">
          this field is required
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="form-group">
      <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
    </div>
  </div>
</form>
