<div class="container" style="padding-top: 10%;">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-6 text-center">
      <div class="card">
        <article class="card-body">
          <h4 class="card-title text-center mb-4 mt-1">Inicio de sesión</h4>
          <hr>
          <div *ngIf="isLoginError">
              incorrect username or password
          </div>
          <form #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(UserName.value, Password.value)">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input type="text" #UserName ngModel name="UserName" placeholder="Username" class="form-control"
                  required>
                <div class="validation-error" *ngIf="UserName.invalid && UserName.touched">
                  this field is required
                </div>
              </div> <!-- input-group.// -->
            </div> <!-- form-group// -->
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input type="password" #Password ngModel name="Password" class="form-control" placeholder="Password"
                  required>
              </div> <!-- input-group.// -->
            </div> <!-- form-group// -->
            <div class="form-group">
              <button type="submit" [disabled]="form.invalid" class="btn btn-b-n btn-block"> Login </button>
            </div> <!-- form-group// -->
            <p class="text-center"><a routerLink="/signup" class="btn">¿No está registrado?</a></p>
          </form>
        </article>
      </div> <!-- card.// -->
    </div> <!-- col.// -->
  </div>
</div>
