<!--/ Intro Single star /-->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Agentes de bienes raices</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Intro Single End /-->

<!--/ Agents Grid Star /-->
<section class="agents-grid grid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <th>Cédula</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Fecha de ingreso</th>
          <th></th>
          <th></th>
          <tr *ngFor="let agent of agentList">
            <td *ngIf="agent.UserName === editRowId"><input [(ngModel)]="agent.Id"></td>
            <td *ngIf="agent.UserName !== editRowId" (click)="edit(agent.UserName)">{{agent.Id}}</td>
            <td *ngIf="agent.UserName === editRowId"><input [(ngModel)]="agent.Name"></td>
            <td *ngIf="agent.UserName !== editRowId" (click)="edit(agent.UserName)">{{agent.Name}}</td>
            <td *ngIf="agent.UserName === editRowId"><input [(ngModel)]="agent.LastNames"></td>
            <td *ngIf="agent.UserName !== editRowId" (click)="edit(agent.UserName)">{{agent.LastNames}}</td>
            <td *ngIf="agent.UserName === editRowId"><input [(ngModel)]="agent.EntryDate"></td>
            <td *ngIf="agent.UserName !== editRowId" (click)="edit(agent.UserName)">{{agent.EntryDate}}</td>
            <td><input type="image" src="./assets/img/refresh.png" (click)="update(agent)" width="48" height="48"></td>
            <td><input type="image" src="./assets/img/cancel(1).png" (click)="delete(agent)" width="48" height="48"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
<!--/ Agents Grid End /-->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>